<app-go-back-anchor [link]="'/'"></app-go-back-anchor>
<div class="py-5">
    <div class="row justify-content-center ">
        <div class="col-12 col-md-6">
            <app-card [cardTitle]="'new patient'">
                <form [formGroup]="patientInfoform">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <label class="form-label">user name</label>
                            <input formControlName="name" class="form-control" type="text" placeholder="enter patient's name" aria-label="patient name" autofocus>
                        </div>
                        <div class="col-12 mb-3">
                            <label class="form-label">full name</label>
                            <input formControlName="fullname" class="form-control" type="text" placeholder="enter patient's fullname" aria-label="patient fullname">
                        </div>
                        <div class="col-12 mb-3">
                            <div class="form-check form-check-inline">
                                <input formControlName="gender" class="form-check-input" type="radio" id="inlineRadio1" value="male">
                                <label class="form-check-label" for="inlineRadio1">male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input formControlName="gender" class="form-check-input" type="radio" id="inlineRadio2" value="female" checked>
                                <label class="form-check-label" for="inlineRadio2">female</label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="text-right">
                    <button class="btn btn-main" (click)="onGetticket()">get ticket</button>
                </div>
            </app-card>
        </div>
    </div>
</div>